.top-content-container {
  background: #83d2bd;
}

.middle-content-container {
  background: #D28383;
}

.bottom-content-container {
  background: #E0DF68;
}

.default-home-page-zone {
  padding: 50px 0;
}