<div class="container notes-page">
  <div class="jumbotron text-center">
    <h2>Notes page!</h2>
    <new-note-area></new-note-area>
    <div class="existed-notes-area">
      <h3>Your existed notes</h3>
      <div class="existed-note" ng-repeat="note in notes" ng-if="notes.length">
        <img  class="existed-note-image" ng-src="{{ note.images[0].src }}">
        <h4>{{ note.title }}</h4>
        <span>{{ note.textContent }}</span>
      </div>
      <div class="no-notes-message" ng-if="!notes.length">
        NO notes yet
      </div>
    </div>
  </div>
</div>
