<!-- Create share class to center content -->
<div class="new-note-area">
  <h2>Search</h2>
  <div class="selected-user" ng-if="selectedUser.userName.length">
    <div>{{selectedUser.userName}}</div>
    <button class="btn btn-info" ng-click="watchUsersNotes()">Watch his notes.</button>
  </div>
  <input type="text" placeholder="Enter something..." ng-model="nameToSearch" ng-change="sendNamesRequest()">
  <div class="search-results-block">
    <select id="" class="user-suggestions" ng-options="user.userName for user in usersCollection track by user._id" ng-model="selectedUser" ng-change="newUserSelected()" size="5" ng-show="usersCollection.length"></select>
    <span ng-if="nameToSearch.length && !usersCollection.length">Nothing is found</span>
  </div>
</div>