<div class="new-note-area form-group">
  <h3>Create your note!</h3>
  <input type="button" value="Create new note on your current location!" ng-click="startNoteCreation()" ng-show="!noteIsBeingCreated" class="btn btn-primary btn-lg btn-block">
  <form action="" ng-show="noteIsBeingCreated">
    <div class="form-group">
      <label for="new-note-title">Note's title</label>
      <input type="text" ng-model="newNote.title" placeholder="Note's title" class="form-control" class="form-control" id="new-note-title">
    </div>
    <div class="form-group">
      <label for="new-note-text">Note's text</label>
      <textarea ng-model="newNote.textContent" placeholder="Note's text"  class="form-control" id="new-note-text"></textarea>
    </div>
    <input type="button" ng-click="startVideo()" value="Add photo to article" class="btn btn-primary btn-block" ng-if="!isAddPhotosViewVisible">
    <div ng-show="isAddPhotosViewVisible" class="make-photos-section">
      <h4>Add some photos to make your note cool!</h4>
      <video id="video" autoplay class="cool-bordered" ng-src="{{ videoStreamUrl | trustedSrc }}"></video>
      <canvas id="canvas" class="dummy-canvas"></canvas>
      <input type="button" ng-click="makePhoto()" value="Make a photo" class="btn btn-default">
      <input type="button" ng-click="cancelPhotosMake()" value="Don't add photos" class="btn btn-default">
      <div id="images-container">
        <div class="new-note-image-container" ng-repeat="img in newNote.images">
          <img class="new-note-image cool-bordered" src="{{ img.src }}">
          <div class="delete-image glyphicon-remove glyphicon" ng-click="removeImage(img)"></div>
        </div>
      </div>
    </div>
    <div class="button-group">
      <input type="button" value="Create" ng-click="createNewNote()" class="btn btn-default">
      <input type="button" value="Cancel" ng-click="stopNewNoteCreation()" class="btn btn-default">
    </div>
  </form>
  <div class="notes-map-wrapper">
    <ui-gmap-google-map center="map.center" zoom="map.zoom">
      <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" click="redirectToNotePage(m)" idkey="m.bid">
          <ui-gmap-window show="m.show" ng-click="redirectToNotePage(m)">
              <p>
                  <img ng-src="{{ m.images[0].src }}" alt="" class="tooltip-img">
                  Title: {{m.title}}<br/>
                  Text: {{m.textContent}}<br/>
              </p>
          </ui-gmap-window>
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>