<div class="new-note-area">
  <h3>Create your note!</h3>
  <input type="button" value="Create new note on your current location!" ng-click="startNoteCreation()" ng-show="!noteIsBeingCreated">
  <form action="" ng-show="noteIsBeingCreated">
    <input type="text" name="title" ng-model="newNote.title" placeholder="Note's title"><br>
    <textarea ng-model="newNote.textContent" placeholder="Note's text"></textarea>
    <input type="button" ng-click="startVideo()" value="Add photo to article"  ng-if="!isAddPhotosViewVisible">
    <div class="addPhotosView" ng-show="isAddPhotosViewVisible">
      <video id="video" autoplay></video>
      <canvas id="canvas"></canvas>
      <input type="button" ng-click="makePhoto()" value="Make a photo">
      <div id="images-container">
        <div class="new-note-image-container" ng-repeat="img in newNote.images">
          <div class="new-note-image" style="background-image: url({{ img.src }});"></div>
          <div class="delete-image glyphicon-remove glyphicon" ng-click="removeImage(img)"></div>
        </div>
      </div>
    </div>
    <input type="button" value="Create" ng-click="createNewNote()">
    <input type="button" value="Cancel" ng-click="stopNewNoteCreation()">
  </form>
</div>