<!DOCTYPE html>
<html lang="en" ng-app="giant">
  <head>
    <meta charset="UTF-8">
    <title>Giant</title>
  </head>
  <body ng-controller="MainController">
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control" ng-model="userAuthData.userName">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" ng-model="userAuthData.password">
          </div>
          <button type="submit" class="btn btn-success" ng-click="logIn()">Log in</button>
          <button type="submit" class="btn btn-success" ng-click="signUp()">Sign up</button>
        </form>
      </div>
    </header>
    <new-note-area></new-note-area>
  </body>
  <link rel="stylesheet" href="app/styles/style.css">
  <!--Libraries-->
  <script src="libs/node_modules/angular/angular.js"></script>
  <script src="libs/node_modules/lodash/index.js"></script>
  <script src='//maps.googleapis.com/maps/api/js?sensor=false?key=AIzaSyAoTh8SGqwiudkX5erYasWSUezZVHgT66I'></script>
  <script src="libs/node_modules/angular-google-maps/dist/angular-google-maps.min.js"></script>
  <script src="libs/node_modules/ng-dialog/js/ngDialog.min.js"></script>
  <!--App scripts-->
  <script src="app/app.js"></script>
  <script src="app/filters/filters.js"></script>
  <script src="app/components/main/mainController.js"></script>
  <script src="app/components/newNoteArea/newNoteArea.directive.js"></script>
</html>